<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label(:name, "your name") %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label(:email, "your email-address") %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label(:location, "your location") %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label(:twitter_handle, "your twitter handle") %><br>
    <%= f.text_field :twitter_handle %>
  </div>
  <div class="field">
    <p>Do you identify as female?</p>
    <%= label_tag do %><br>
      <%= f.radio_button(:female, true)  %> Yes
    <% end %>
    <%= f.radio_button(:female, false) %>
    <%= f.label(:female, "No") %><br>
  </div>
  <div class="field">
    <%= f.label(:student_coach, "Would you like to join as student or coach?") %><br>
    <%= f.text_field :student_coach %>
  </div>
  <div class="field">
    <p>Are you a beginner in programming Ruby?</p>
    <%= f.radio_button(:beginner, true) %>
    <%= f.label(:beginner, "Yes") %><br>
    <%= f.radio_button(:beginner, false) %>
    <%= f.label(:beginner, "No") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
