<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label("your name") %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label("your email-address") %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label("your location") %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label("your twitter handle") %><br>
    <%= f.text_field :twitter_handle %>
  </div>
  <div class="field">
    <%= f.label("Do you identify as female?") %><br>
    <%= f.radio_button(:female, true)  %>
    <%= f.label(:female, "Yes") %><br>
    <%= f.radio_button(:female, false) %>
    <%= f.label(:female, "No") %><br>
  </div>
  <div class="field">
    <%= f.label("Would you like to join as student or coach?") %><br>
    <%= f.text_field :student_coach %>
  </div>
  <div class="field">
    <%= f.label("Are you a beginner in programming Ruby?") %><br>
    <%= f.radio_button(:beginner, true) %>
    <%= f.label(:beginner, "Yes") %><br>
    <%= f.radio_button(:beginner, false) %>
    <%= f.label(:beginner, "No") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
