<p id="notice"><%= notice %></p>

<h1>Future monsters</h1>

<%= form_for(:users, url: send_notifications_path) do |f| %>

<table>
  <thead>
    <tr>
      <th>Send notification</th>
      <th>Name</th>
      <th>Email</th>
      <th>Location</th>
      <th>Twitter handle</th>
      <th>Female</th>
      <th>Beginner</th>
      <th>Already notified</th>
      <th>Date of sign-up</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= check_box_tag("user_ids[]", user.id, false, id: "user_#{user.id}") %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.location %></td>
        <td><%= user.twitter_handle %></td>
        <td><%= user.female %></td>
        <td><%= user.beginner %></td>
        <td><%= user.already_notified %></td>
        <td><%= user.created_at.to_date.inspect %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= f.submit("Send email :)") %>

<% end %>

<%= link_to 'New User', new_user_path %>