<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<p>
  <strong>Twitter handle:</strong>
  <%= @user.twitter_handle %>
</p>

<p>
  <strong>Female:</strong>
  <%= @user.female %>
</p>

<p>
  <strong>Student coach:</strong>
  <%= @user.student_coach %>
</p>

<p>
  <strong>Beginner:</strong>
  <%= @user.beginner %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
